@import url("./file.css");
@import url("./switch.css");
@import url("./themeCommon.css");
/* 主题1 */
:root {
  --background: rgba(255, 255, 255, 0.4);
  --background1: rgba(255, 255, 255, 0.4);
  --favoriteBg: #f7f9fe;
  --fontColor: #363636;
  --borderColor: #21232a;
  --borderHoverColor: rgba(110, 110, 110, 0.4);
}
/* 主题1 暗色 */
html[data-theme="dark"] {
  --background: #1e1e1e;
  --background1: #1e1e1e;
  --favoriteBg: #1e1e1e;
  --fontColor: #f7f7fa;
  --borderColor: #4f4f4f;
  --borderHoverColor: black;
}
/* 主题2 */
html[data-theme="theme2"] {
  --themeColor: #425aef;
  --themeColorRgb: none;
  --themeColorRgbDark: none;
  --themeColorRgbLight: none;
  --themeColorHexLight: none;
  --opacityThemeColor: rgba(var(--themeColorRgb), 0.3);
  --pink2: var(--opacityThemeColor);
  --blue13: rgba(var(--themeColorRgb), 0.6);
  --opacityThemeColor1: rgba(var(--themeColorRgb), 0.8);
  --gray4: var(--themeColor);
  --gray5: var(--opacityThemeColor);
  --background: #f7f9fe;
  --background1: #f7f9fe;
  --favoriteBg: var(--white);
  --fontColor: #363636;
  --borderColor: var(--themeColor);
  --borderHoverColor: rgba(110, 110, 110, 0.4);
  --red: var(--themeColor);
  --red1: var(--fontColor);
  --red2: var(--gray1);
  --red3: var(--favoriteBg);
  --red5: var(--black5);
  --red6: var(--themeColor);
  --lightRed: rgb(var(--themeColorRgbDark));
  --bigRed: var(--themeColor);
  --bigRed1: var(--fontColor);
  --bigRed2: var(--purple2);
  --bigRed3: var(--favoriteBg);
  --bigRed5: var(--black5);
  --myAsideBorderColor: var(--gray1);
  --myAsideBorderColor1: var(--themeColor);
  --blue: var(--favoriteBg);
  --blue1: var(--themeColorHexLight);
  --blue2: var(--themeColor);
  --blue3: var(--opacityThemeColor);
  --blue5: var(--themeColor);
  --blue6: var(--fontColor);
  --blue7: var(--themeColor);
  --blue8: var(--opacityThemeColor1);
  --blue9: var(--themeColor);
  --blue22: var(--themeColor);
  --blue25: var(--themeColor);
  --green1: var(--themeColor);
  --green2: var(--themeColor);
  --green6: var(--themeColor);
  --green7: var(--themeColor);
  --green8: var(--themeColor);
  --green3: var(--fontColor);
  --green4: var(--fontColor);
  --darkBlue: var(--fontColor);
  --darkBlue1: var(--themeColor);
  --myAsideColor: var(--favoriteBg);
  --maxLightRed: var(--themeColor);
  --maxLightRed1: var(--favoriteBg);
  --orange2: var(--themeColor);
  --orange3: var(--purple2);
  --orange4: rgb(var(--themeColorRgbDark));
  --pink: var(--favoriteBg);
  --pink1: var(--themeColor);
  --wheat: var(--themeColor);
  --noneWhite: var(--favoriteBg);
  --white1: var(--themeColor);
  --white2: #f7f7fa;
  --whiteMask1: var(--themeColor);
  --purple1: var(--themeColor);
  --purple3: var(--mask);
  --purple4: var(--fontColor);
  --yellow3: var(--fontColor);
  --yellow6: var(--themeColor);
  --black1: var(--themeColor);
  --black8: var(--themeColor);
  --black9: var(--favoriteBg);
  --brown1: var(--fontColor);
  --brown2: var(--themeColor);
  --toolbarBackground1: var(--opacityThemeColor);
}
/* 主题2-暗色 */
html[data-theme="theme2-dark"] {
  --themeColor: #ffc848;
  --themeColorRgb: none;
  --themeColorRgbDark: none;
  --themeColorRgbLight: none;
  --themeColorHexLight: none;
  --opacityThemeColor: rgba(var(--themeColorRgb), 0.3);
  --pink2: var(--opacityThemeColor);
  --blue13: rgba(var(--themeColorRgb), 0.6);
  --opacityThemeColor1: rgba(var(--themeColorRgb), 0.8);
  --gray4: var(--themeColor);
  --gray5: var(--opacityThemeColor);
  --background: #18171d;
  --background1: #18171d;
  --favoriteBg: #18171d;
  --fontColor: #f7f7fa;
  --borderColor: var(--themeColor);
  --borderHoverColor: black;
  --red: var(--themeColor);
  --red1: var(--fontColor);
  --red2: var(--gray1);
  --red3: var(--favoriteBg);
  --red5: var(--black5);
  --red6: var(--themeColor);
  --lightRed: rgb(var(--themeColorRgbDark));
  --bigRed: var(--themeColor);
  --bigRed1: var(--fontColor);
  --bigRed2: var(--purple2);
  --bigRed3: var(--favoriteBg);
  --bigRed5: var(--black5);
  --myAsideBorderColor: var(--gray1);
  --myAsideBorderColor1: var(--themeColor);
  --blue: var(--favoriteBg);
  --blue1: var(--themeColorHexLight);
  --blue2: var(--themeColor);
  --blue3: var(--opacityThemeColor);
  --blue5: var(--themeColor);
  --blue6: var(--fontColor);
  --blue7: var(--themeColor);
  --blue8: var(--opacityThemeColor1);
  --blue9: var(--themeColor);
  --blue22: var(--themeColor);
  --blue25: var(--themeColor);
  --green1: var(--themeColor);
  --green2: var(--themeColor);
  --green6: var(--themeColor);
  --green7: var(--themeColor);
  --green8: var(--themeColor);
  --green3: var(--fontColor);
  --green4: var(--fontColor);
  --darkBlue: var(--fontColor);
  --darkBlue1: var(--themeColor);
  --myAsideColor: var(--favoriteBg);
  --maxLightRed: var(--themeColor);
  --maxLightRed1: var(--favoriteBg);
  --orange2: var(--themeColor);
  --orange3: var(--purple2);
  --orange4: rgb(var(--themeColorRgbDark));
  --pink: var(--favoriteBg);
  --pink1: var(--themeColor);
  --wheat: var(--themeColor);
  --noneWhite: var(--favoriteBg);
  --white1: var(--themeColor);
  --white2: var(--favoriteBg);
  --whiteMask1: var(--themeColor);
  --purple1: var(--themeColor);
  --purple3: var(--mask);
  --purple4: var(--fontColor);
  --yellow3: var(--fontColor);
  --yellow6: var(--themeColor);
  --black1: var(--themeColor);
  --black8: var(--themeColor);
  --black9: var(--favoriteBg);
  --brown1: var(--fontColor);
  --brown2: var(--themeColor);
  --toolbarBackground1: var(--opacityThemeColor);
}
