:root {
  --bossAvatar: url(../../../public/title.jpg);
  --defaultAvatar: url(../file/avatar.jpg);
  --admireImage: url(https://www.qiniuyun.monkey-papa.icu/images/%E4%BA%8C%E7%BB%B4%E7%A0%81.jpg);
  --comment1URL: url(../file/comment1.png);
  --comment2URL: url(../file/comment2.png);
  --springBg: url(https://www.qiniuyun.monkey-papa.icu/avatar/%E7%99%BE%E5%AE%9D%E8%A2%8Bbg.jpg);
  --toTop: url(../file/top.jpg);
  --verifyImage: url(https://www.qiniuyun.monkey-papa.icu/avatar/%E7%99%BE%E5%AE%9D%E8%A2%8Bbg.jpg);
  --toolbar: url(../file/bg.jpg);
  --love: url(https://www.qiniuyun.monkey-papa.icu/avatar/%E4%B9%A1%E6%9D%91.jpg);
}
