@font-face {
  font-family: "iconfont"; /* Project id 4619530 */
  src: url("//at.alicdn.com/t/c/font_4619530_s47z8p0yd9k.woff2?t=1720795118254") format("woff2"), url("//at.alicdn.com/t/c/font_4619530_s47z8p0yd9k.woff?t=1720795118254") format("woff"), url("//at.alicdn.com/t/c/font_4619530_s47z8p0yd9k.ttf?t=1720795118254") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wf_Bzhan:before {
  content: "\e662";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-huochepiao:before {
  content: "\e638";
}

.icon-zhinanzhen:before {
  content: "\e682";
}

.icon-AppIcon:before {
  content: "\e601";
}

.icon-qq:before {
  content: "\e60d";
}

.icon-csdn:before {
  content: "\e602";
}

.icon-github:before {
  content: "\e718";
}
