:root {
  --themeColor: none;
  --myAsideColor: rgba(236, 105, 92, 0.3);
  --myAsideBorderColor: rgba(0, 255, 255, 0.7);
  --myAsideBorderColor1: rgba(0, 255, 255, 0.7);
  --gradualBackground: linear-gradient(to right bottom, var(--red), var(--red6), var(--blue1), var(--green6));
  --transparent: rgba(0, 0, 0, 0);
  --miniMask: rgba(0, 0, 0, 0.15);
  --mask: rgba(0, 0, 0, 0.3);
  --black: black;
  --black1: black;
  --black5: #363636;
  --black8: #363636;
  --black9: #363636;
  --black19: #21252b;
  --black21: #18171d;
  --black6: rgba(41, 50, 60, 0.82);
  --black7: rgba(28, 28, 28, 0.83);
  --black12: rgba(37, 82, 110, 0.1);
  --gradientAnimation: linear-gradient(to right, var(--red), var(--green1)) no-repeat right bottom;
  --gradualRed: linear-gradient(to right, var(--lightRed), var(--green1));
  --toolbarBackground: rgba(0, 238, 255, 0.3);
  --toolbarBackground1: rgba(0, 238, 255, 0.3);
  --gradientBG: linear-gradient(-90deg, var(--red), var(--red6), var(--blue1), var(--green6));
  --mask: rgba(255, 255, 255, 0.15);
  --whiteMask: rgba(255, 255, 255, 0.3);
  --whiteMask1: rgba(255, 255, 255, 0.3);
  --maxMaxWhiteMask: rgba(255, 255, 255, 0.67);
  --white: #fff;
  --white1: #fff;
  --white2: #f7f7fa;
  --noneWhite: none;
  --wheat: wheat;
  --wheat1: wheat;
  --gray1: #e3e8f7; /* 边框 */
  --gray4: #e3e8f7; /* 边框 */
  --gray2: rgba(188, 233, 236, 0.6);
  --gray5: rgba(188, 233, 236, 0.6);
  --gray3: #f7f7f9;
  --gray15: #888f96;
  --pink: rgba(255, 158, 158, 0.8);
  --pink2: rgba(255, 158, 158, 0.8);
  --pink1: #ffd7e4;
  --bigRed: rgb(214, 16, 16);
  --bigRed1: rgb(214, 16, 16);
  --bigRed2: rgb(214, 16, 16);
  --bigRed3: rgb(214, 16, 16);
  --bigRed4: rgb(214, 16, 16);
  --bigRed5: rgb(214, 16, 16);
  --red: #ec695c;
  --red1: #ec695c;
  --red2: #ec695c;
  --red3: #ec695c;
  --red4: #ec695c;
  --red5: #ec695c;
  --red6: #ef629f;
  --lightRed: #ff4b2b;
  --maxLightRed: #ff416c;
  --maxLightRed1: #ff416c;
  /* markdown代码颜色 */
  --yellow2: #fefac7;
  --yellow3: #fdbc40;
  --yellow7: #fdbc40;
  --yellow6: #fdbc40;
  --yellow4: #e6c07b;
  --yellow5: #d19a66;
  --darkBlue: #04597b;
  --darkBlue1: #04597b;
  --blue: #74bdf0;
  --blue2: #74bdf0;
  --blue3: #74bdf0;
  --blue4: #74bdf0;
  --blue1: #0095c2;
  --blue5: #0095c2;
  --blue6: #0095c2;
  --blue7: #3fdaee;
  --blue10: #3fdaee;
  --blue8: rgba(49, 52, 243, 0.8);
  --blue13: rgba(49, 52, 243, 0.8);
  --blue9: rgba(0, 219, 235, 0.8);
  --blue12: rgba(0, 219, 235, 0.8);
  --blue22: rgba(0, 134, 139, 0.86);
  --blue24: rgba(10, 90, 190, 0.86);
  --blue25: rgba(47, 203, 255, 0.86);
  --blue11: rgba(47, 203, 255, 0.86);
  --green1: #6bdf8f;
  --green4: #6bdf8f;
  --green5: #6bdf8f;
  --green2: rgba(0, 196, 182, 0.95);
  --green3: rgba(0, 196, 182, 0.95);
  --green6: #64e1c8;
  --green7: #48bc8c;
  --green8: #67c23a;
  --orange: orange;
  --orange2: orange;
  --orange3: orange;
  --orange1: #c69043;
  --orange6: rgb(255, 117, 0);
  --orange4: rgb(255, 117, 0);
  --purple1: #b04fe6;
  --purple5: #b04fe6;
  --purple4: #b04fe6;
  --purple2: #bcbeef;
  --purple3: #bcbeef;
  --brown: brown;
  --brown1: #a0522d;
  --brown2: #a0522d;
  --sBlue: #425aef;
  --sBlueRgb: rgba(66, 90, 239, 0.8);
  --sBigRed: #d61010;
  --sBigRedRgb: rgba(214, 16, 16, 0.5);
  --sRed: #ec695c;
  --sRedRgb: rgba(236, 105, 92, 0.5);
  --sGreen: #6bdf8f;
  --sGreenRgb: rgba(107, 223, 143, 0.5);
  --sOrange: #ff7500;
  --sOrangeRgb: rgba(255, 117, 0, 0.5);
  --sYellow: #ffc848;
  --sYellowRgb: rgba(255, 200, 72, 0.5);
  --sPurple: #b04fe6;
  --sPurpleRgb: rgba(176, 79, 230, 0.5);
  --sDarkBlue: #04597b;
  --sDarkBlueRgb: rgba(4, 89, 123, 0.5);
}
